# file should have [project_name]_project.yml name

:name: breakout

:scm: git
:scm_url: git://git.assembla.com/breakout.git
:home_dir: /home/lz/tmp/cia/breakout
:qa_email: qa@example.com
# revision will be added to the url
:changeset_url: http://code.assembla.com/breakout/git/
# this specifies build environment, for example to SITES
#:build_env: SITES=1
# Non rails project
#:type: lib
#:build_cmd: spec spec
